/****** Error Page ****/
/* div includes all info, except name bar*/
.error-box {
    font-size: 11px;
    width: 570px;
    font-weight: normal;
    color: #000000;
    border: 1px solid #000000;
    text-align: left;
    padding:  5px 10px 5px 10px;
    margin: 10px auto 10px auto; /*center*/
}

.error-body	{
    color: #000;
    background-color: #DDDDDD;
    border: 1px solid #333333;
    margin-left: 20px;
    padding: 10px;
    width: 400px;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
}
                    
.error-title {
    font-weight: bold;
    text-align: left;
    color: red;
    margin: 10px;
}

.error-footer {
    text-align: left;
    width: 570px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* red box displayed on top of page; an error message; see Page, ErrorHandler class */
.error-notice
{
    color: #000;
    background-color: #FF9933;
    margin: 10px auto 10px auto; 
    padding: 3px; border: #3399FF 1px solid; 
    width: 570px;
}

/* green box displayed on top of page; a success message; see Page, ErrorHandler class */
.error-ok
{
    color: #000;
    background-color: #99FF99;
    margin: 10px auto 10px auto; 
    padding: 3px; border: #3399FF 1px solid; 
    width: 570px;
}

/* khaki box displayed on top of page; a non critical warning message; see Page, ErrorHandler class */
.error-warning
{
    color: #000;
    background-color: Khaki;
    margin: 10px auto 10px auto; 
    padding: 3px; border: #3399FF 1px solid; 
    width: 570px;
}

/* PHP object/file originating the error message */
.error-originator
{
    display: none; /* ... hide PHP object */
    font-weight: bold;
}

