/* Images from: http://www.neuroticweb.com/recursos/css-rounded-box/ */
/* BASIC STANDARD DEFINITIONS - they catch about 80% of everything 
 * If you start a new style copy this section to a new file and change colors ...
 */

/* basic black and white title bars */
.card-title, .edit-title, .admin-title, .options-title, .wide-title, 
table.contact-list caption, table.changed-list caption 
{
    background-color: #D2DFDF;
    color: #000;
    font-weight: normal;
    text-align: left;
    padding: 3px;
    clear: both;
    font-size: 20px;
}

/* UNDO default padding! pad innermost div only #card-title-br */
.card-title { padding: 0px; }

table.changed-list caption { font-size: 12px; }

/* color of the solid border */
.card-box, .options-box, .admin-box, table.contact-list, table.changed-list
{
    border: solid 1px #D2DFDF;
}

/* font */
.card-box, .edit-box, .options-box, .admin-box
{
    font-size: 11px;
    font-weight: normal;
    text-align: left;
}

table.contact-list, table.changed-list
{
    clear: both;
    width: 100%;
}


.card { background-color: #D2DFDF; }
#card-bl { background-image: url(bl.gif); background-repeat: no-repeat; background-position: bottom left; }
#card-br { background-image: url(br.gif); background-repeat: no-repeat; background-position: bottom right; }

.card-box { background-color: #FFF; }
#card-title-tr { background-image: url(tr.gif); background-repeat: no-repeat; background-position: top right; }
#card-title-tl { background-image: url(tl.gif); background-repeat: no-repeat; background-position: top left; }
#card-title-br { padding: 5px; } /* pad innermost div only */
    
ul.groups li a:link, ul.groups li a:hover, ul.groups li a:visited, ul.groups li a:active
{ color: #000000; }

.update { text-align: center; }

