/* The only thing this example does is to recolor the application in 
   the same way as FancySteelBlue!

   If you write a style, even if it is just changing the colors ...
   PLEASE zip it and attach it to a feature request or mail it to
   katzlbt at users.sourceforge.net
   
   THE COMMUNITY WILL THANK YOU!
*/

/*******************************************
 *** COLORS
 *******************************************/
 
/* RECOLOR EVERYTHING FOR STYLE */
body { color: #CCC; background-color: #2b5073; }
table, form, fieldset, .card { color: Black;  background-color: White; }

/* LINKS */
a { color: AntiqueWhite; }
a:hover { color: OrangeRed; }
table a, .card a { color: Navy; }

/* Do not touch footer */
#footer { color: Black; }
#footer a { color: Navy; }

@media print 
{ 
    body { color: Black; background-color: White; } 
    a { color: Black; }
    table a { color: Black; }
    table { color: Black; }
    
    /* HIDE MENU */
    .card-menu li a, .card-pluginmenu li a { display: none; }
}

/*** COLOR ADJUSTMENTS (special items) ***/
.contact-list form, .login-form form  { color: Gold; background-color: transparent; }
/* groups menu */
ul.groups li a:link, ul.groups li a:hover, ul.groups li a:visited, ul.groups li a:active
{ color: Navy; font-weight: bold; }
/* Can't see links in the edit interface otherwise */
.edit-content a, .admin-content a { color: Navy; }

/* RECOLOR the basic black and white title bars */
.card-title, .edit-title, .admin-title, .options-title, .wide-title, 
table.contact-list caption, table.changed-list caption 
{
    color: Black;
    background-color: #D2DFDF;
    font-weight: normal;
    text-align: left;
    padding: 3px;
    clear: both;
    font-size: 20px;
}

/* color of the solid borders */
.card-box, .edit-box, .options-box, .admin-box, .wide-box, table.contact-list, table.changed-list
{
   border: solid 1px #D2DFDF;
   background-color: White;
}

table.changed-list caption { font-size: 12px; }

