/********** USER OPTIONS **********/

.options {
    width: 570px;
    font-family: Tahoma, sans-serif;
    margin: 0px auto;
    margin-bottom: 25px;
}

/*.options-title { } see default-main */

.options-content {
    clear: both;    
}

.options-box {
    font-size: 11px;
    font-weight: normal;
    border-top: none;
    text-align: left;
    padding:  5px 10px 5px 10px;    
}

ul.options-menu {
    list-style-type: none;
}

ul.options-menu li {
    float: right;
    margin-left: 5px;
}

.options fieldset label {
    font-weight: bold;
    display: block;
    float: left;
    width: 140px;
}

.options fieldset {
    border: none;
    margin-bottom: 8px;
    border-top: solid 1px #000000;
}

.options fieldset legend {
    font-size: 20px;
    font-weight: bold;
}

.options table tr {
    font-weight: bold;
    font-size: 11px;
}

div.options-clear {
    clear: both;
    overflow: auto;
}

/* fieldset: options-options */

