BODY				{	background-color: #FFFFFF;
						color: #000000;
						font-family: Tahoma, sans-serif;
						font-size: 11px;
						font-weight: normal;
                        text-align: center;
					}
A					{	font-family: Tahoma, sans-serif;
						font-size: 11px;
						font-weight: normal;
						color: #002288;
						text-decoration: none;
					}
A.group				{	color: #FFFFFF;
					}
A:hover				{	text-decoration: underline;
                        color: #000000;
					}
.navMenu			{	font-family: Tahoma, sans-serif;
						font-size: 11px;
						font-weight: bold;
						color: #0088EE;
						text-align: right;
						padding-bottom: 3px;
					}
.headTitle			{	background-color: #000000;
						color: #FFFFFF;
						font-family: Tahoma, sans-serif;
						font-size: 20px;
						font-weight: bold;
						border: 3px solid #000000;
					}
.headText			{	background-color: #000000;
						color: #FFFFFF;
						font-family: Tahoma, sans-serif;
						font-size: 11px;
						font-weight: bold;
						border: 3px solid #000000;
					}
.infoBox			{	font-family: Tahoma, sans-serif;
						font-size: 11px;
						font-weight: normal;
						color: #000000;
						border: 1px solid #000000;
                        text-align: left;
					}
.data				{	font-family: Tahoma, sans-serif;
						font-size: 11px;
						font-weight: normal;
						color: #000000;
						vertical-align: top; 
					}
.update				{	font-family: Tahoma, sans-serif;
						font-size: 9px;
						font-weight: normal;
						color: #000000;
					}
.listEntry			{	font-family: Tahoma, sans-serif;


						font-size: 11px;
						font-weight: normal;
						color: #000000;
						border-bottom: 1px solid #AAAAAA;
						padding-top: 2px;
						padding-bottom: 2px;
					}
.listHeader			{	font-family: Tahoma, sans-serif;
						font-size: 14pt;
						font-weight: bold;
						color: #000000;
						border-bottom: 1px solid #AAAAAA;
						padding-top: 10px;
						padding-bottom: 2px;
                    }
.listDivide			{	font-family: Tahoma, sans-serif;
						font-size: 1px;
						color: #FFFFFF;
						border-bottom: 1px solid #AAAAAA;
					}
.formMailbox		{	font-family: Tahoma, sans-serif;
						font-size: 11px;
						font-weight: normal;
						color: #000000;
						width: 250px;
					}					
.formTextbox		{	font-family: Tahoma, sans-serif;
						font-size: 11px;
						font-weight: normal;
						color: #000000;
						width: 150px;
					}
.formTextarea		{	font-family: Tahoma, sans-serif;
						font-size: 11px;
						font-weight: normal;
						color: #000000;
						overflow: auto;
					}
.formSelect			{	font-family: Tahoma, sans-serif;
						font-size: 11px;
						font-weight: normal;
						color: #000000;
					}
.formButton			{	font-family: Tahoma, sans-serif;
						font-size: 11px;
						font-weight: bold;
						color: #0066CC;
						background: #FFFFFF;
						border: 1px;
						border-color: #CCCCCC;
						text-decoration: none;
					}
.formButton:hover	{	background: #EEEEEE;
					}

div.context-help {
    float: right;
    margin-top: 0px;
    margin-bottom: 10px;
}

div.context-help-on {
    margin-top: 0px;
    margin-bottom: 10px;
}

.wide-container {
    margin-bottom: 25px;
}

ul.wide-menu {
    list-style-type: none;
}

ul.wide-menu li {
    float: right;
    margin-left: 5px;
}
                    
.wide-box {
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    border: 1px solid #000000;
    border-top: none;
    text-align: left;
    padding:  5px 10px 5px 10px;
    overflow: scroll;
}

table.data {
    border-collapse: collapse;
    border: solid 1px #000000;
}

table.data caption {
    font-weight: bold;
    text-align: center;
}

table.data th {
    text-align: left;
    border-top: solid 1px #000000;
}

table th {
    text-align: left;
}

/* PRINTING */

@media print {
    .no-print { display: none; }
}

.clear-both { clear: both; margin: 0px; padding: 0px; }

/* BASIC STANDARD DEFINITIONS - they catch about 80% of everything 
 * If you start a new style copy this section to a new file and change colors ...
 */

/* basic black and white title bars */
.card-title, .edit-title, .admin-title, .options-title, .wide-title, 
table.contact-list caption, table.changed-list caption {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    padding: 3px;
    clear: both;
    font-size: 20px;
}
                 
table.changed-list caption {
    font-size: 12px;
}

/* color of the solid border */
.card-box, .options-box, .admin-box, table.contact-list, table.changed-list  {
    border: solid 1px #000000;
}

/* font */
.card-box, .edit-box, .options-box, .admin-box {
    font-size: 11px;
    font-weight: normal;
    text-align: left;
}

table.contact-list, table.changed-list {
    clear: both;
    width: 100%;
}
